.header {
  display: flex;
  height: 900px;
  padding: 110px 72px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
  flex-shrink: 0;
  align-self: stretch;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/background image.png");
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 40.5rem;
}

.judul-film-header {
  font-family: "Geist", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 76.8px */
  letter-spacing: -1.28px;
  text-transform: capitalize;
}

.deskripsi-film-header {
  color: #fff;
  text-align: justify;
  font-family: "Geist", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 32px; /* 177.778% */
  letter-spacing: 0.9px;
  text-transform: capitalize;
}

.durasi {
  color: #fff;
  font-family: "Geist", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 21.6px */
  letter-spacing: 0.9px;
  text-transform: capitalize;
}

.Button-Group {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
}

.btn-watch {
  display: flex;
  width: 14rem;
  padding: 1rem 2.5rem 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.875rem;
  border-radius: 1.5rem;
  background: #dc1625;
  color: #fff;
  font-family: "Geist", sans-serif;
  font-weight: 500;
}

.start-icon {
  width: 0.9062rem;
  height: 0.9982rem;
}

.btn-add-list {
  display: flex;
  padding: 1rem 2.5rem 1rem 2rem;
  justify-content: center;
  gap: 0.875rem;
  border-radius: 1.5rem;
  background: #130203;
  color: #fff;
  font-family: "Geist", sans-serif;
  font-weight: 500;
  width: 11.5625rem;
}

.span-durasi {
  color: var(--primary-color);
}